<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=8">
<META HTTP-EQUIV="expires" CONTENT="0">
<title>糖醋鼻子眼画廊</title>
<meta name="keywords" content="糖醋鼻子眼 摄影 糖醋鼻子 画廊 照片" />
<meta name="MSSmartTagsPreventParsing" content="True" />

    <script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.mnmenu.js"></script>
    <script type="text/javascript" src="/static/js/jquery.hoverintent.r7.js"></script>

        <link href="/static/css/styleIE.css" type="text/css" rel="stylesheet"/>
        <link href="/static/css/rightbt.css" type="text/css" rel="stylesheet"/>

    <style type="text/css">
        .foot {
            position: fixed;
            _position: absolute;
            bottom: 0px;
            _bottom: 0px;
            _margin-top: expression(this.style.pixelHeight + document.documentElement.scrollTop)
        }

        .exif-raw {
            margin: 0px;
            padding: 0px;
            position: relative;
            font-family: helvetica;
            font-size: 10px;
            line-height: 1.2em;
            color: white;
            clear: both;
            margin-top: 5px;
        }

        .exif-row-title{
            float: left;
            width: 100px;

        }

        .exif-row-desc{
            right: 0;
        }

        .menu-item{
            left: 3px;
        }
        .image-canvas{
            width: 100%;
            height: 100%;
            margin: 0px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position-x: 50%;
            background-position-y: 50%;
            position: absolute;
        }
        .page-button{
            width: 300px;
            height: 100%;
            top:0;
            position: absolute;
            z-index:99;
            opacity: 0;
            cursor: pointer;
        }
    </style>
    <script type="text/javascript">
        var isH = false;
        var gallery = {{!pics}};
        var menus = {{!menus}}
        var nowImg = 0;

        $(document).ready(function () {
                    $(document).keyup(keyEvent);

                    generateButton();
                    generateMenu();
                    toH();
                    nowImg = -1;
                    toNextImage();
                }
        )

        function keyEvent(){
            var keycode = event.which || event.keyCode;
            switch(keycode){
                case 37:
                    toPreImage();
                    return 0;
                    break;
                case 39:
                    toNextImage();
                    return 0;
                    break;
            }
        }

        function generateButton() {
            $('#pre-button').bind('mouseenter',function () {
                $('#pre-button').stop().animate({opacity: "0.4"}, 300);
            }).bind('mouseleave',function () {
                $('#pre-button').stop().animate({opacity: "0"}, 300);
            }).bind('click', function () {
                toPreImage();
            });

            $('#next-button').bind('mouseenter',function () {
                $('#next-button').stop().animate({opacity: "0.4"}, 300);
            }).bind('mouseleave',function () {
                $('#next-button').stop().animate({opacity: "0"}, 300);
            }).bind('click', function () {
                toNextImage();
            });
        }
        function generateLevel1(gallerys) {
            var level1Root = $('<ul></ul>')
            for (var i in gallerys) {
                var g = gallerys[i];
                level1Root.append($('<li class="menu-item"><a href="/g/' + g["gid"] + '" alt="' + g["galdesc"] + '">' + g["title"] + '</a></li>'))
            }
            return level1Root;
        }
        function generateMenu() {

            for (var mid in menus) {
                var m = menus[mid];
                var level0 = $('<li><a href="#">' + m["name"] + '</a></li>');
                level0.append(generateLevel1(m["gallerys"]));
                $('#idmenu').append(level0);
            }

            $('#idmenu').mnmenu();

            var rightMenuLevelSettings = {};
            //Defaults
            rightMenuLevelSettings[0] = new MNLevelSettings();
            rightMenuLevelSettings[0].parentAttachmentPosition = "NW";
            rightMenuLevelSettings[0].attachmentPosition = "NE";
            //First level
            rightMenuLevelSettings[1] = new MNLevelSettings();
            rightMenuLevelSettings[1].parentAttachmentPosition = "SE";
            rightMenuLevelSettings[1].attachmentPosition = "NE";
            $('#exmenu').mnmenu({levelSettings: rightMenuLevelSettings});
        }

        function stopAll() {
            $("div").stop();
        }
        function hideV(callback) {
            var left = $("div#left");
            left.animate({width: 'hide'}, 'normal', null, callback);
            var right = $("div#right");
            right.animate({width: 'hide'});
        }
        function toH() {
            if (isH) {
                return;
            }
            stopAll();
            hideV(function () {
                showH();
            });
            isH = true;
        }

        function showH() {
            var top = $("div#top");
            top.animate({height: 'show'});
            var top = $("div#bottom");
            top.animate({height: 'show'});

        }

        function hideH(callback) {
            var top = $("div#top");
            top.animate({height: 'hide'}, 'normal', null, callback);
            var top = $("div#bottom");
            top.animate({height: 'hide'});

        }
        function showImage(img, direction) {
            var imgPanel = $("div#imgcur");
            var prePanel = $("div#imgpre");
            var loading = $("#loading");
            loading.show();

            document.getElementById("preload").onload = function () {
                prePanel.css({"background-image": "url('" + imgPanel.attr("img") + "')"});
                prePanel.css({"filter": "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+ imgPanel.attr("img") +"',sizingMethod='scale')"})
                prePanel.show();
                imgPanel.stop();
                imgPanel.hide();
                imgPanel.css({"background-image": "url('" + img["src"] + "')"});
                imgPanel.css({"filter": "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+ img["src"] +"',sizingMethod='scale')"})
                imgPanel.attr("img", img["src"]);

                displayExif(img["meta"]);
                $("#desc-comment").text(img["description"]);

                if (direction == "r") {
                    imgPanel.css({"left": "-40px"});
                    //imgPanel.animate({opacity: 'hidden', left: '-40px'}, 'fast', null, null);
                } else {
                    imgPanel.css({"left": "40px"});
                    //imgPanel.animate({opacity: 'hidden', left: '40px'}, 'fast', null, null);
                }
                imgPanel.animate({opacity: 'show', left: '0px'}, 'slow', null, function () {
                    prePanel.hide();
                });
                loading.hide();
            }
			
			var preload = $("#preload");
			preload.attr("src", null);
			preload.attr("src", img["src"]);
        }

        function displayExif(exif) {
            var exifSwitch = {
                "camera": "Camera",
                "shutter_speed": "Exposure Time",
                "aperture": "F Number",
                "iso": "ISO",
                "focal_length": "Focal Length"};

            if (exif) {
                $("#exif-panel").empty();
                for (var key in exifSwitch) {
                    var title = exifSwitch[key];
                    if (exif[key]) {
                        $('<div class="exif-raw"><div class="exif-row-title">' + title + '</div><div class="exif-row-desc">' + exif[key] + '</div></div>').appendTo($("#exif-panel"))
                    }

                }
            }
        }

        function loadCache(justImg){
            var preImg = (justImg > 0) ? justImg -1 : gallery.length - 1;
            var nextImg = (justImg < gallery.length - 1) ?justImg +1: 0;

            $("#preload_pre").attr("src", gallery[preImg]["src"]);
            $("#preload_next").attr("src", gallery[nextImg]["src"]);
        }

        function toPreImage() {
            nowImg = (nowImg > 0) ? nowImg -1 : gallery.length - 1;

            showImage(gallery[nowImg], "l");
            loadCache(nowImg);
        }

        function toNextImage() {
            nowImg = (nowImg < gallery.length - 1) ? nowImg + 1: 0;

            showImage(gallery[nowImg], "r");
            loadCache(nowImg);
        }

        function toIndex(){
            window.location.href = "/";
        }

    </script>
</head>
<body style="background: #555555; margin: 0px; overflow-x: hidden;">
<div id="imgpre" name="imgpre" class="image-canvas" style="z-index: -999" >
</div>
<div id="imgcur" name="imgcur" class="image-canvas" style="z-index:0">
</div>
<div id="top" name="top"
     style="z-index:999;width:100%;top:0;position: absolute;opacity: 0.6; background: #111111; margin: 0px; height: 40px;color: #BBBBBB;display: none;">
    <div id="top-logo"
         style="background: url('/static/images/logo_white_small.png') no-repeat left 0;cursor: pointer;width: 190px;margin:10px;margin-top: 8px; margin-bottom: 8px;height: 24px;opacity: 0.7;float: left;"
         onclick="return toIndex();"></div>

    <div style="width: 60px; float: right;">
        <ul id="exmenu" style="opacity:0.8;float:right;background: url('/static/images/menu.png') center no-repeat;">
            <li>
                <ul>
                                        <li>
                        <hr></hr>
                    </li>
                    <li><a href="http://photo.tangcu.biz/" target="_blank">旧版相册</a></li>
                    <li><a href="http://read.douban.com/people/2443614/" target="_blank">我的豆瓣影集</a></li>
                    <li><a href="http://blog.tangcu.biz/" target="_blank">我的BLOG</a></li>
                    <li>
                        <hr></hr>
                    </li>
                    <li><a href="http://hi.huitu.com/363071/" target="_blank">汇图网销售（国内）</a></li>
                    <li><a href="http://www.shutterstock.com/gallery-869707p1.html" target="_blank">Shutterstock销售（国外）</a></li>
                    <li>
                        <hr></hr>
                    </li>
                    <li><a href="http://weibo.com/hzeye" target="_blank">微博 @糖醋鼻子眼</a></li>
                    <li>微信 hzzzzzz_eye</li>
                    <li><a href="https://github.com/zhmocean/simple-gallery" target="_blank">source @github</a></li>
                    <li><a href="http://weibo.com/zhmocean" target="_blank">版权：糖醋鼻子</a></li>
                    <li>
                        <hr></hr>
                    </li>
                    <li>
                        <script language="javascript" type="text/javascript" src="http://js.users.51.la/15453028.js"></script>
<noscript><a href="http://www.51.la/?15453028" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/15453028.asp" style="border:none" /></a></noscript>
<script language="javascript" type="text/javascript" src="http://quote.51.la/?id=15453028&amp;mb=3"></script>

                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div id="menu" style="width: 360px; float: right;">
        <ul id="idmenu"></ul>

    </div>
</div>
</div>
<div id="bottom" name="bottom" class="foot"
     style="z-index:999;width:100%;bottom:0;position: absolute;opacity: 0.5; background: #111111; margin: 0px; height: 100px;color: #FFFFFF;width: 100%;display: none;">
    <div id="desc-panel" style="width: 800px; float: left;padding: 20px;font-weight: bold;text-indent: 2em;">
        <span id="desc-comment" style="color: #FFFFFF;font-size: 12pt;">

        </span>
    </div>
<div id="exif-panel" style="width: 300px; float: right;height: 100%;"></div>
</div>
<div id="left" name="left" class="left"
     style="opacity: 0.6; background: #111111; margin: 0px; width: 140px;color: #BBBBBB;height: 100%;float:left;left:0;top:0;position:absolute;display: none;">

</div>
<div id="right" name="right" class="right"
     style="opacity: 0.4; background: #111111; margin: 0px; width: 160px;color: #FFFFFF;height: 100%;right:0;top:0;position:absolute;display: none;">


</div>
<div id="pre-button" class="page-button" style="left: 0;background:url('/static/images/left_arrow.png') center no-repeat"></div>
<div id="next-button" class="page-button" style="right: 0;background:url('/static/images/right_arrow.png') center no-repeat"></div>
<img src="" id="preload" style="display: none;">
<img src="" id="preload_pre" style="display: none;">
<img src="" id="preload_next" style="display: none;">

<div id="loading" style="z-index:99;position:absolute;display: none;opacity: 0.2; height: 100%; width: 100%;background: url('/static/images/loading.gif') center no-repeat;"></div>

</body>
</html>
